LIMPIAR DATA CANDY

In [16]:
import pandas as pd
import re
import emoji
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob

from nltk.corpus import wordnet
lemmatizer = WordNetLemmatizer()

In [2]:
#Carga de la data
Candy_data = pd.read_csv('../data/Candy Crush Saga.csv')

In [3]:
Candy_data.describe()

              score
count  10000.000000
mean       4.504300
std        1.098227
min        1.000000
25%        5.000000
50%        5.000000
75%        5.000000
max        5.000000

In [4]:
Candy_data.shape

(10000, 3)

In [5]:
#Tipos de datos
Candy_data.dtypes

reviewId    object
content     object
score        int64
dtype: object

In [6]:
# encabezados  
Candy_data.head()

,reviewId,content,score
0,c2335f01-6f73-45ad-b63c-8e9f0893d206,Levels you can't pass without buying extra liv...,2
1,0e90adc9-3600-45a5-b8a8-6e7b78b09123,Swipe the stress away but your stress gets higher,1
2,7f796c6a-5557-4bbd-b4f0-1233295ceda7,I love it.,5
3,b9bfd8fe-a903-45fb-9a64-d1cc81d30f57,Bhai mobile network se connection error bta rha h,5
4,55a3cef0-0dab-4da4-874a-95333767f3f0,awesome game,5

In [7]:
# Ver información de la Data
Candy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewId  10000 non-null  object
 1   content   10000 non-null  object
 2   score     10000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [8]:
# Verificar si hay valores nulos
Candy_data.isnull().sum()

reviewId    0
content     0
score       0
dtype: int64

In [9]:
# Verificar si hay valores duplicados
Candy_data.duplicated().sum()

np.int64(0)

In [10]:
# Eliminar filas con valores nulos
data = Candy_data.dropna()
print(f"Duplicados antes de eliminar: {Candy_data.duplicated().sum()}")

Duplicados antes de eliminar: 0

In [11]:
Candy_data.columns

Index(['reviewId', 'content', 'score'], dtype='object')

In [ ]:
# Eliminar datos duplicados
netflix_data = Candy_data.drop_duplicates(subset=["content"])

FUNCIONES PARA LIMPIAR LA DATA

In [12]:
# Función para eliminar símbolos, caracteres especiales y URLs
def Trash(texto):
    texto = re.sub(r"http\S+|www\S+", "", texto)  # Eliminar URLs
    texto = re.sub(r"[^a-zA-Z0-9\s]", "", texto)  # Eliminar caracteres especiales
    return texto

In [33]:
# Convertir emojis a texto
def emojiText(texto):
    return emoji.demojize(texto, delimiters=(" ", " ")).replace("_", " ")

Candy_data["content"] = Candy_data["content"].apply(emojiText)

In [19]:
# Convertir a minúsculas
Candy_data["content"] = Candy_data["content"].str.lower()

In [20]:
def procesar_texto(texto):
    tokens = word_tokenize(texto)  # Tokenización
    tokens = [lemmatizer.lemmatize(word) for word in tokens]  # Lematización
    return " ".join(tokens)

In [22]:
Candy_data["content"] = Candy_data["content"].apply(procesar_texto)

In [23]:
from textblob import Word

# Función para corregir ortografía
def corregir_ortografia(texto):
    palabras = texto.split() 
    palabras_corregidas = [] 
    
    for palabra in palabras:
        blob_word = Word(palabra)
        spellcheck = blob_word.spellcheck()  
        mejor_opcion, confianza = spellcheck[0]  
        
        if confianza < 0.8:
            palabras_corregidas.append(mejor_opcion)
        else:
            palabras_corregidas.append(palabra)
    
    return " ".join(palabras_corregidas)

In [24]:
Candy_data["content"] = Candy_data["content"].apply(corregir_ortografia)

In [25]:
# Función para truncar texto 
def truncar_texto(texto, max_palabras=50):
    palabras = texto.split() 
    return " ".join(palabras[:max_palabras])

In [34]:
Candy_data["content"] = Candy_data["content"].apply(truncar_texto)

In [35]:
# CSV limpio
Candy_data.to_csv("../data/CandyCrushSaga_limpio.csv", index=False)

PRUEBA DATA CandyCrushSaga_limpio

In [36]:
#Carga de la data
candy_limpio = pd.read_csv('../data/CandyCrushSaga_limpio.csv')

In [37]:
# Verificar valores nulos
candy_limpio.isnull().sum()

reviewId    0
content     0
score       0
dtype: int64