In [ ]:
#importar las librerias
import sys
import os
sys.path.append(os.path.abspath('../scripts'))  #esto lo colocamos para que el python nos lea la ruta bien
from utils import process_null_values  # Importa la funcinn desde utils
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
CellReviews = pd.read_json('../data/Cell_Phones_and_Accessories_5.json', lines=True)

In [3]:
#acercamiento a los datos numericos
CellReviews.describe()

              rating        target
count  100000.000000  93225.000000
mean        3.975310      0.785036
std         1.496717      0.410799
min         1.000000      0.000000
25%         3.000000      1.000000
50%         5.000000      1.000000
75%         5.000000      1.000000
max         5.000000      1.000000

In [4]:
CellReviews.head()

,rating,title,review,target
0,5,.............Am I in Midgard anymore ?,I was so disappointed to find she has not writ...,1.0
1,1,Zip wax new formula is just horrible.,I've been using zip wax for many years. It was...,0.0
2,5,Apatow's Depth Triumphs,I am a stand-up fanatic. I enjoy the alternati...,1.0
3,1,Dream of C.,It is to bad such talented illustrations are i...,0.0
4,1,it doesnt suck.,this product doesnt vaccum out the air I was d...,0.0

In [5]:
#tipos de datos de los conjuntos de nuestro dataframe
CellReviews.dtypes

rating      int64
title      object
review     object
target    float64
dtype: object

## ZONA DE TRABAJO FORZOZOS

In [ ]:
#ANTES AQUI HABIA ALGO

In [6]:
process_null_values(CellReviews)

Total de registros:
la columna title tiene un Total de: 4 valores vacios
la columna target tiene un Total de: 6775 valores vacios
--------------------------------------------------------------------------------
Porcentaje de registros:
la columna title tiene un Porcentaje de: 0.004 valores vacios
la columna target tiene un Porcentaje de: 6.775 valores vacios
--------------------------------------------------------------------------------
Si las columnas son irrelevantes, podemos hacer algo con sus datos, que te gustaria eliminarlos o los conservamos?

columna title eliminada exitosamente
columna target eliminada exitosamente
data limpiada maestro, que tengas un buen dia :)

In [7]:
CellReviews.describe()

              rating
count  100000.000000
mean        3.975310
std         1.496717
min         1.000000
25%         3.000000
50%         5.000000
75%         5.000000
max         5.000000

In [9]:
CellReviews.head(100)

    rating                                             review
0        5  I was so disappointed to find she has not writ...
1        1  I've been using zip wax for many years. It was...
2        5  I am a stand-up fanatic. I enjoy the alternati...
3        1  It is to bad such talented illustrations are i...
4        1  this product doesnt vaccum out the air I was d...
..     ...                                                ...
95       5  Seven friends. Strangers, originally, now brou...
96       5  Wow! I can't believe what a value this is. The...
97       5  My 8 year old daughter LOVES these books. We a...
98       5  Rosemary's baby is a horror classic that shoul...
99       4  For what they cost the sound isn't bad. I repl...

[100 rows x 2 columns]